#title{
    margin-top: 8rem;
    align-content: center;
    text-align: center;
    font-family: 'Brush Script Std';
    color: crimson;
    font-size: 8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.container{
    display: flex;
    flex-direction: row;
    margin: auto 0;
    justify-content: center;
    align-items: center;
}

.cover-image{
    position: absolute;
    margin-top: 70px;
}


header{
    background-image: url(cover.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 50em;
}

legend{
    max-width: 50px;
    display: inline-block;
}

section{
    margin: 50px auto 0;
    max-width:800px;
    min-width: 600px;
    background-color: white;
    border: 2px gray solid;
    border-radius: 0.7em;
    padding: 2em;
}
