.navbar-inverse {
    background-color: crimson;
    border-color: crimson;
}

#title{
    margin-top: 100px;
    color: crimson;
    align-content: center;
}

#icon{
    height: 0.8em;
}

.canvas-div{
    
}

legend{
    max-width: 50px;
    display: inline-block;
}

section{
    margin: 50px auto 0;
    max-width:800px;
    min-width: 600px;
    background-color: white;
    border: 2px gray solid;
    border-radius: 0.7em;
    padding: 2em;
}
