header{
    background-image: url(../images/cover.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 50em
}

#title{
    margin-top: 10rem;
    align-content: center;
    text-align: center;
    font-family: 'Tahoma';
    color: crimson;
    font-size: 8rem;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    min-height: 4em;
}

nav > ul.navbar-fixed-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}

nav a > img{
    margin: 0 10px
}

.depLinks {
    height: 50px;
    transition: height 1.5s;
    padding: 0;
}

.depLinks:hover {
    height: 350px;
    background: #f8f8f877;
    padding: 0;
}


#depUl{
    display: none;
    width: 100%;
}

#depUl > li{
    list-style: none;
    color: black;
    margin: 10px auto;
    font-size: 1.2rem;
}

#depUl > li > a{
    color: black;
    margin: 10px auto;
}

section{
    margin: 50px auto 7em;
    width: 80vw;
    background-color: white;
    padding: 7em;
}

section > h2{
    align-content: center;
    font-size: 4rem;
}

section > hr{
    height: 0.8em;
    background: linear-gradient(rgba(0, 0, 0, 0.322), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

section > section{
    width: 80rem;
    border-bottom: 1px solid;
}

.canvas{
    display: inline-block
}

canvas{
    display: block
}

.canvas-wrapper{
    display: inline-block;
    padding-top: 6em;
    margin: 0 auto;
    width: 80%;
}

#pizza{
    width: 920px;
    height: 150px;
    margin-left:50px; 
}

#doctorsName{
    height: 920px;
    width: 150px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    top: -375px;
    left: 385px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#doctors #pizza > #doctorsName > p{
    padding: 0;
    margin: 0;
}

#materials{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#materials .canvas-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 100%;

}

#materials .canvas-wrapper .legend{
    width: 15%
}

#materialsCanvas{
    width: 50%;
}

.data-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 5px rgb(90, 100, 110) solid;
    border-radius: 0.5em;
    width: 100%
}

.filter .filter{
    border: none;
    padding: 1em;
}

.filter label{
    margin: 0 1em;
}

.filter > form{
    margin-left: 50%
}

.data-wrapper form input{
    padding: 0.5rem;
}

#prev, #next{
    background-color: #b0b0b0a4;
    width: 3em;
    font-size: 1rem;
}

#prev:hover, #next:hover{
    background-color: #b0b0b0;
}

.legend{
    display: inline-block;
}

legend{
    min-width: 20rem;
    display: inline-block;
}

.legend > ul{
    display: block;
}

legend > ul{
    display: inline-flex;
}

legend > ul > li{
    width: 25rem;
    height: 2em;
}

.informations{
    display: flex;
    flex-direction: row;
    margin: auto 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: grey;
}

.subFooter{
    color: white;
    background-color: rgb(56, 65, 65);
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 2.5em 5em;
}

.sedi{
    margin: 5em;
    color: white
}

.sedi div p{
    margin: 0;
}

